/* sidebar */

.wy-side-nav-search {
    background-color: #00979c;
}

.wy-side-nav-search > a img.logo {
    display: inline-block;
    margin: inherit;
    vertical-align: middle;
    width: 160px;
}
