[submodule "libraries/RFM69"]
	path = libraries/RFM69
	url = https://github.com/LowPowerLab/RFM69
[submodule "libraries/SPIFlash"]
	path = libraries/SPIFlash
	url = https://github.com/LowPowerLab/SPIFlash
[submodule "libraries/LowPower"]
	path = libraries/LowPower
	url = https://github.com/LowPowerLab/LowPower
[submodule "libraries/HX711"]
	path = libraries/HX711
	url = https://github.com/bogde/HX711
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "libraries/WirelessProgramming"]
	path = libraries/WirelessProgramming
	url = https://github.com/einsiedlerkrebs/WirelessProgramming
[submodule "tools/Arduino-Makefile"]
	path = tools/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile
[submodule "tools/Bare-Arduino-Project"]
	path = tools/Bare-Arduino-Project
	url = https://github.com/ladislas/Bare-Arduino-Project
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "libraries/GPRSbee"]
	path = libraries/GPRSbee
	url = https://github.com/SodaqMoja/GPRSbee
[submodule "libraries/DHT"]
	path = libraries/DHT
	url = https://github.com/markruys/arduino-DHT
[submodule "libraries/DallasTemperature"]
	path = libraries/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "libraries/EmBencode"]
	path = libraries/EmBencode
	url = https://github.com/hiveeyes/embencode
	branch = fix-typeinfo-reference
[submodule "libraries/StandardCplusplus"]
	path = libraries/StandardCplusplus
	url = https://github.com/hiveeyes/StandardCplusplus
	branch = gcc5-fixups
[submodule "libraries/RadioHead"]
	path = libraries/RadioHead
	url = https://github.com/Yveaux/RadioHead
[submodule "libraries/MemoryFree"]
	path = libraries/MemoryFree
	url = https://github.com/McNeight/MemoryFree
[submodule "libraries/RobTillaart-Arduino"]
	path = libraries/RobTillaart-Arduino
	url = https://github.com/RobTillaart/Arduino
[submodule "libraries/RobTillaart-libDHT"]
	path = libraries/RobTillaart-libDHT
	url = https://github.com/RobTillaart/libDHT
[submodule "libraries/DS3231"]
	path = libraries/DS3231
	url = https://github.com/jcastaneyra/ds3231_library
[submodule "tools/makeEspArduino"]
	path = tools/makeEspArduino
	url = https://github.com/plerup/makeEspArduino
[submodule "libraries/ArduinoSTL"]
	path = libraries/ArduinoSTL
	url = https://github.com/hiveeyes/ArduinoSTL
	branch = operator-fixes
[submodule "libraries/Adafruit_MQTT_Library"]
	path = libraries/Adafruit_MQTT_Library
	url = https://github.com/adafruit/Adafruit_MQTT_Library
[submodule "libraries/homie-esp8266"]
	path = libraries/homie-esp8266
	url = https://github.com/marvinroger/homie-esp8266
[submodule "libraries/async-mqtt-client"]
	path = libraries/async-mqtt-client
	url = https://github.com/marvinroger/async-mqtt-client
[submodule "libraries/ESPAsyncTCP"]
	path = libraries/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP
[submodule "libraries/Bounce2"]
	path = libraries/Bounce2
	url = https://github.com/thomasfredericks/Bounce2
[submodule "libraries/YunBridgeLibrary"]
	path = libraries/YunBridgeLibrary
	url = https://github.com/arduino-libraries/Bridge
[submodule "libraries/Watterott-Arduino-Libs"]
	path = libraries/Watterott-Arduino-Libs
	url = https://github.com/watterott/Arduino-Libs
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "libraries/Adafruit_TSL2591"]
	path = libraries/Adafruit_TSL2591
	url = https://github.com/adafruit/Adafruit_TSL2591_Library
[submodule "libraries/Adafruit_DHT"]
	path = libraries/Adafruit_DHT
	url = https://github.com/adafruit/DHT-sensor-library
